<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
    <title> DECISION SUPPORT SYSTEM FOR REAL ESTATE</title>
</head>
<body>
        <img src="/Users/deepak/Documents/DAEN/SYST 542/Project/User Interface/House.jpg" class="img-fluid" alt="Responsive image">
        <h1 style="color:red;"> Oops, it looks like there were no houses for your criteria.Try Relaxing your filters <br>Let’s find a home that’s perfect for you. </h1>
    </div>
        <form action="{{ url_for('DSS_Redirected')}}"method="post">
                <!------------------------ Intrinsic Feature Bedroom -------------------------->
                <p> How many bedrooms do you prefer ? </p>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="bedroom" id="bedroomany" value="Any" checked>
              <label class="form-check-label" for="bedroomany">
                Any
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="bedroom" id="bedroom1" value=1+">
              <label class="form-check-label" for="bedroom1">
                1+
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="bedroom" id="bedroom2" value="2+">
              <label class="form-check-label" for="bedroom2">
                2+
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="bedroom" id="bedroom3" value="3+">
              <label class="form-check-label" for="bedroom3">
                3+
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="bedroom" id="bedroom4" value="4+">
              <label class="form-check-label" for="bedroom4">
                4+
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="bedroom" id="bedroom5" value="5+">
              <label class="form-check-label" for="bedroom5">
                5+
              </label>
            </div>
            <!------------------------ Intrinsic Feature Bathroom -------------------------->
                <p> How many bathrooms do you prefer ? </p>
             <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="bathroom" id="bathroomany" value="Any" checked>
              <label class="form-check-label" for="bathroomany">
                Any
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="bathroom" id="bathroom1" value=1+">
              <label class="form-check-label" for="bathroom1">
                1+
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="bathroom" id="bathroom2" value="2+">
              <label class="form-check-label" for="bathroom2">
                2+
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="bathroom" id="bathroom3" value="3+">
              <label class="form-check-label" for="bathroom3">
                3+
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="bathroom" id="bathroom4" value="4+">
              <label class="form-check-label" for="bathroom4">
                4+
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="bathroom" id="bathroom5" value="5+">
              <label class="form-check-label" for="bathroom5">
                5+
              </label>
            </div>
            <!------------------------ Property Type -------------------------->
             <div class="form-group">
                <label for="propertytype"> What kind of Property do you prefer ?</label>
                <select class = "form-control" , style = "width:300px" id="propertytype">
                  <option>Any </option>
                  <option>Condo</option>
                  <option>Multi Family Home</option>
                  <option>Single Family Home</option>
                  <option>Townhome</option>
                </select>
              </div>

            <!------------------------ House Price -------------------------->
              <div  class="form-group">
                <label for="propertytype"> What kind of Property do you prefer ?</label>
                <select class = "form-control" , style = "width:300px" id="houseprice">
                  <option>Any </option>
                  <option>Greater than $100k</option>
                  <option>Greater than $250k</option>
                  <option>Greater than $500k</option>
                  <option>Greater than $1M</option>
                </select>
              </div>



            <!---------How important are the factors in the neighborhood of your new house?------>

            <div class="form-check">
                <p> How important are the factors in the neighborhood of your new house? </p>
              <input class="form-check-input" type="radio" name="neighbourhoodfactors" id="1Notimportantatall" value="1Notimportantatall">
              <label class="form-check-label" for="1Notimportantatall">
                1 - Not important at all
              </label>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="neighbourhoodfactors" id="2Notimportantatall" value="2Notimportantatall">
              <label class="form-check-label" for="2Notimportantatall">
                2 - Not important at all
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="neighbourhoodfactors" id="3somewhatimportant" value="3somewhatimportant" checked>
              <label class="form-check-label" for="3somewhatimportant">
                3 - Somewhat Important
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="neighbourhoodfactors" id="4veryimportant" value="3somewhatimportant">
              <label class="form-check-label" for="4veryimportant">
                4 - Very Important
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="neighbourhoodfactors" id="5veryimportant" value="3somewhatimportant">
              <label class="form-check-label" for="5veryimportant">
                5 - Very Important
              </label>
            </div>


        <!---------How close do you want to want bars and restaurants to be to your house?------>

            <div class="form-check">
                <p> How close do you want to want bars and restaurants to be to your house? </p>
              <input class="form-check-input" type="radio" name="distance" id="closewalkingdistance" value="0.5">
              <label class="form-check-label" for="closebikingordrivingdistance">
                Close Walking Distance (0.5 Miles)
              </label>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="distance" id="closebikingordrivingdistance" value="2.5">
              <label class="form-check-label" for="closebikingordrivingdistance">
                Close Biking or Driving Distance (2.5 Miles)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="distance" id="drivingdistance" value="5.0" checked>
              <label class="form-check-label" for="drivingdistance">
                Driving Distance (5.0 Miles)
              </label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
