<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> DECISION SUPPORT SYSTEM FOR REAL ESTATE</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .img-thumbnail {
            width: 100%;
            height: 275px;
        }

        .col-md-4 {
            margin-bottom: 40px;
        }

        .shadow-custom {
             box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            height: 580px;
        }

        .title {
            font-weight: 500;
        }

        .info-box {
            height: 305px;
            overflow-y: auto;
        }

        .address {
            font-weight: 500;
            font-size: 14px;
        }

        .features {
            font-weight: 300;
        }

        .info-title {
            font-weight: 500;
            font-size: 14px;
        }

        .info-content {
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="container">

        <h4 class="text-center my-4"> Take a look at the houses we found for you </h4>
        <!-- Listing/Property Number 1-->
        <div class="row">
            <div class="col-md-4 shadow-custom">
                <div class="row">
                    <div class="col-md-12">
                        <img src="https://ap.rdcpix.com/b4353299b31df9ac25561f7690933102l-m2668983530x.jpg"
                            class="img-thumbnail" />
                    </div>
                    <div class="col-md-12 info-box">
                        <div class="row address-bar mt-1">
                            <div class="col-md-4 mb-0">
                                <div class="title">$270,000</div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="features">[2bds | 4bath | 1078 sqft]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="address">4600 S Four Mile Run Dr Apt 618</div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 info-title"> Nearest Top Rated Restaurant: </div>
                            <div class="col-md-6 info-content"> Cafe Colline </div>
                            <div class="col-md-6 info-title"> Nearest School : </div>
                            <div class="col-md-6 info-content"> Barcroft Elementary School </div>
                            <div class="col-md-6 info-title"> Nearest Metro: </div>
                            <div class="col-md-6 info-content"> Ballston Metro </div>
                            <div class="col-md-6 info-title"> Nearest Bus : </div>
                            <div class="col-md-6 info-content"> S George Mason Dr + #3713 </div>
                            <div class="col-md-6 info-title"> NearestCC : </div>
                            <div class="col-md-6 info-content"> Arlington Mill Community Center </div>
                            <div class="col-md-6 info-title"> Nearest Library: </div>
                            <div class="col-md-6 info-content"> Glencarlyn Library </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow-custom">
                <div class="row">
                    <div class="col-md-12">
                        <img src="https://ap.rdcpix.com/9f76c303b48006b7445086f3d3530378l-m1210650799x.jpg"
                            class="img-thumbnail" />
                    </div>
                    <div class="col-md-12 info-box">
                        <div class="row address-bar mt-1">
                            <div class="col-md-4 mb-0">
                                <div class="title">$270,000</div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="features">[2bds | 4bath | 1078 sqft]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="address">4600 S Four Mile Run Dr Apt 618</div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 info-title"> Nearest Top Rated Restaurant: </div>
                            <div class="col-md-6 info-content"> Cafe Colline </div>
                            <div class="col-md-6 info-title"> Nearest School : </div>
                            <div class="col-md-6 info-content"> Barcroft Elementary School </div>
                            <div class="col-md-6 info-title"> Nearest Metro: </div>
                            <div class="col-md-6 info-content"> Ballston Metro </div>
                            <div class="col-md-6 info-title"> Nearest Bus : </div>
                            <div class="col-md-6 info-content"> S George Mason Dr + #3713 </div>
                            <div class="col-md-6 info-title"> NearestCC : </div>
                            <div class="col-md-6 info-content"> Arlington Mill Community Center </div>
                            <div class="col-md-6 info-title"> Nearest Library: </div>
                            <div class="col-md-6 info-content"> Glencarlyn Library </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow-custom">
                <div class="row">
                    <div class="col-md-12">
                        <img src="https://ap.rdcpix.com/ac3f6340a5ac512b57957b5e789fec68l-m3633057152x.jpg"
                            class="img-thumbnail" />
                    </div>
                    <div class="col-md-12 info-box">
                        <div class="row address-bar mt-1">
                            <div class="col-md-4 mb-0">
                                <div class="title">$270,000</div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="features">[2bds | 4bath | 1078 sqft]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="address">4600 S Four Mile Run Dr Apt 618</div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 info-title"> Nearest Top Rated Restaurant: </div>
                            <div class="col-md-6 info-content"> Cafe Colline </div>
                            <div class="col-md-6 info-title"> Nearest School : </div>
                            <div class="col-md-6 info-content"> Barcroft Elementary School </div>
                            <div class="col-md-6 info-title"> Nearest Metro: </div>
                            <div class="col-md-6 info-content"> Ballston Metro </div>
                            <div class="col-md-6 info-title"> Nearest Bus : </div>
                            <div class="col-md-6 info-content"> S George Mason Dr + #3713 </div>
                            <div class="col-md-6 info-title"> NearestCC : </div>
                            <div class="col-md-6 info-content"> Arlington Mill Community Center </div>
                            <div class="col-md-6 info-title"> Nearest Library: </div>
                            <div class="col-md-6 info-content"> Glencarlyn Library </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow-custom">
                <div class="row">
                    <div class="col-md-12">
                        <img src="https://ap.rdcpix.com/6296248559ed726cb5b38fd1f1c58c9el-m239568273x.jpg"
                            class="img-thumbnail" />
                    </div>
                    <div class="col-md-12 info-box">
                        <div class="row address-bar mt-1">
                            <div class="col-md-4 mb-0">
                                <div class="title">$270,000</div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="features">[2bds | 4bath | 1078 sqft]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="address">4600 S Four Mile Run Dr Apt 618</div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 info-title"> Nearest Top Rated Restaurant: </div>
                            <div class="col-md-6 info-content"> Cafe Colline </div>
                            <div class="col-md-6 info-title"> Nearest School : </div>
                            <div class="col-md-6 info-content"> Barcroft Elementary School </div>
                            <div class="col-md-6 info-title"> Nearest Metro: </div>
                            <div class="col-md-6 info-content"> Ballston Metro </div>
                            <div class="col-md-6 info-title"> Nearest Bus : </div>
                            <div class="col-md-6 info-content"> S George Mason Dr + #3713 </div>
                            <div class="col-md-6 info-title"> NearestCC : </div>
                            <div class="col-md-6 info-content"> Arlington Mill Community Center </div>
                            <div class="col-md-6 info-title"> Nearest Library: </div>
                            <div class="col-md-6 info-content"> Glencarlyn Library </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow-custom">
                <div class="row">
                    <div class="col-md-12">
                        <img src="https://ap.rdcpix.com/b4f745eb3c14d3daa73cb9984b52f9d7l-m1944401045x.jpg"
                            class="img-thumbnail" />
                    </div>
                    <div class="col-md-12 info-box">
                        <div class="row address-bar mt-1">
                            <div class="col-md-4 mb-0">
                                <div class="title">$270,000</div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="features">[2bds | 4bath | 1078 sqft]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="address">4600 S Four Mile Run Dr Apt 618</div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 info-title"> Nearest Top Rated Restaurant: </div>
                            <div class="col-md-6 info-content"> Cafe Colline </div>
                            <div class="col-md-6 info-title"> Nearest School : </div>
                            <div class="col-md-6 info-content"> Barcroft Elementary School </div>
                            <div class="col-md-6 info-title"> Nearest Metro: </div>
                            <div class="col-md-6 info-content"> Ballston Metro </div>
                            <div class="col-md-6 info-title"> Nearest Bus : </div>
                            <div class="col-md-6 info-content"> S George Mason Dr + #3713 </div>
                            <div class="col-md-6 info-title"> NearestCC : </div>
                            <div class="col-md-6 info-content"> Arlington Mill Community Center </div>
                            <div class="col-md-6 info-title"> Nearest Library: </div>
                            <div class="col-md-6 info-content"> Glencarlyn Library </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow-custom">
                <div class="row">
                    <div class="col-md-12">
                        <img src="https://ap.rdcpix.com/201b57d6b27d4c7f1b699912b8172460l-m2918345051x.jpg"
                            class="img-thumbnail" />
                    </div>
                    <div class="col-md-12 info-box">
                        <div class="row address-bar mt-1">
                            <div class="col-md-4 mb-0">
                                <div class="title">$270,000</div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="features">[2bds | 4bath | 1078 sqft]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="address">4600 S Four Mile Run Dr Apt 618</div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 info-title"> Nearest Top Rated Restaurant: </div>
                            <div class="col-md-6 info-content"> Cafe Colline </div>
                            <div class="col-md-6 info-title"> Nearest School : </div>
                            <div class="col-md-6 info-content"> Barcroft Elementary School </div>
                            <div class="col-md-6 info-title"> Nearest Metro: </div>
                            <div class="col-md-6 info-content"> Ballston Metro </div>
                            <div class="col-md-6 info-title"> Nearest Bus : </div>
                            <div class="col-md-6 info-content"> S George Mason Dr + #3713 </div>
                            <div class="col-md-6 info-title"> NearestCC : </div>
                            <div class="col-md-6 info-content"> Arlington Mill Community Center </div>
                            <div class="col-md-6 info-title"> Nearest Library: </div>
                            <div class="col-md-6 info-content"> Glencarlyn Library </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>