<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> DECISION SUPPORT SYSTEM FOR REAL ESTATE</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    body {
      background-color: #f2f2f2;
    }

    .initial-img {
      width: 60%;
      /* margin: 40px auto; */
      margin-top: 40px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 0px;
    }

    /* .form-check {
      margin-bottom: 15px;
    } */

    .col-md-12 {
      margin-bottom: 10px;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="../static/House.jpg" class="img-fluid initial-img" alt="Responsive image">
      </div>
    </div>

    <h1 class="mb-3"> Let’s find a home that’s perfect for you. </h1>

    <form action="{{ url_for('DSS_Form_Page2')}}" method="post">

      <!--------- Q5 - How important are the factors in the neighborhood of your new house?------>

      <div class="row">
        <div class="col-md-12">
          <p> How do you rank the importance of the locations and amenities in your new neighborhood, including
            restaurants, schools, public transportation, and public services?   </p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="neighbourhoodfactors" id="Neighbourhood_1Notatall"
              value="1Notatall">
            <label class="form-check-label" for="Neighbourhood_1Notatall">
              1 - Not at all
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="neighbourhoodfactors" id="Neighbourhood_2Slightlyimportant"
              value="2Slightlyimportant">
            <label class="form-check-label" for="Neighbourhood_2Slightlyimportant">
              2 - Slightly important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="neighbourhoodfactors" id="Neighbourhood_3somewhatimportant"
              value="3somewhatimportant" checked>
            <label class="form-check-label" for="Neighbourhood_3somewhatimportant">
              3 - Somewhat Important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="neighbourhoodfactors" id="Neighbourhood_4Moderatelyimportant"
              value="4Moderatelyimportant">
            <label class="form-check-label" for="Neighbourhood_4Moderatelyimportant">
              4 - Moderately important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="neighbourhoodfactors" id="Neighbourhood_5veryimportant"
              value="5VeryImportant">
            <label class="form-check-label" for="Neighbourhood_5veryimportant">
              5 - Very Important
            </label>
          </div>
        </div>
      </div>

       <!--------- Q6 - How important is it for your house to have greater square footage?------>

      <div class="row">
        <div class="col-md-12">
          <p> How important is it for your house to have greater square footage? </p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="HouseSize" id="Housesize_1Notatall"
              value="1Notatall">
            <label class="form-check-label" for="Housesize_1Notatall">
              1 - Not at all
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="HouseSize" id="Housesize_2Slightlyimportant"
              value="2Slightlyimportant">
            <label class="form-check-label" for="Housesize_2Slightlyimportant">
              2 - Slightly important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="HouseSize" id="Housesize_3somewhatimportant"
              value="3somewhatimportant" checked>
            <label class="form-check-label" for="Housesize_3somewhatimportant">
              3 - Somewhat Important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="HouseSize" id="Housesize_4Moderatelyimportant"
              value="4Moderatelyimportant">
            <label class="form-check-label" for="Housesize_4Moderatelyimportant">
              4 - Moderately important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="HouseSize" id="Housesize_5veryimportant"
              value="5VeryImportant">
            <label class="form-check-label" for="Housesize_5veryimportant">
              5 - Very Important
            </label>
          </div>
        </div>
      </div>

       <!--------- Q7 - For houses in your chosen budget, how important is a lower listing price? ------>

      <div class="row">
        <div class="col-md-12">
          <p> For houses in your chosen budget, how important is a lower listing price? </p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Housebudget" id="Housebudget_1Notatall"
              value="1Notatall">
            <label class="form-check-label" for="Housebudget_1Notatall">
              1 - Not at all
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Housebudget" id="Housebudget_2Slightlyimportant"
              value="2Slightlyimportant">
            <label class="form-check-label" for="Housebudget_2Slightlyimportant">
              2 - Slightly important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Housebudget" id="Housebudget_3somewhatimportant"
              value="3somewhatimportant" checked>
            <label class="form-check-label" for="Housebudget_3somewhatimportant">
              3 - Somewhat Important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Housebudget" id="Housebudget_4Moderatelyimportant"
              value="4Moderatelyimportant">
            <label class="form-check-label" for="Housebudget_4Moderatelyimportant">
              4 - Moderately important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Housebudget" id="Housebudget_5veryimportant"
              value="5VeryImportant">
            <label class="form-check-label" for="Housebudget_5veryimportant">
              5 - Very Important
            </label>
          </div>
        </div>
      </div>

      <!--------- Q8 - How important is having a bus stop close to your home? ------>

      <div class="row">
        <div class="col-md-12">
          <p> How important is having a bus stop close to your home?  </p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="BusStop" id="BusStop_1Notatall"
              value="1Notatall">
            <label class="form-check-label" for="BusStop_1Notatall">
              1 - Not at all
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="BusStop" id="BusStop_2Slightlyimportant"
              value="2Slightlyimportant">
            <label class="form-check-label" for="BusStop_2Slightlyimportant">
              2 - Slightly important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="BusStop" id="BusStop_3somewhatimportant"
              value="3somewhatimportant" checked>
            <label class="form-check-label" for="BusStop_3somewhatimportant">
              3 - Somewhat Important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="BusStop" id="BusStop_4Moderatelyimportant"
              value="4Moderatelyimportant">
            <label class="form-check-label" for="BusStop_4Moderatelyimportant">
              4 - Moderately important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="BusStop" id="BusStop_5veryimportant"
              value="5VeryImportant">
            <label class="form-check-label" for="BusStop_5veryimportant">
              5 - Very Important
            </label>
          </div>
        </div>
      </div>

       <!--------- Q09 - How important is having a Metro stop close to your home? ------>

      <div class="row">
        <div class="col-md-12">
          <p> How important is having a Metro stop close to your home?  </p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Metro" id="Metro_1Notatall"
              value="1Notatall">
            <label class="form-check-label" for="Metro_1Notatall">
              1 - Not at all
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Metro" id="Metro_2Slightlyimportant"
              value="2Slightlyimportant">
            <label class="form-check-label" for="Metro_2Slightlyimportant">
              2 - Slightly important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Metro" id="Metro_3somewhatimportant"
              value="3somewhatimportant" checked>
            <label class="form-check-label" for="Metro_3somewhatimportant">
              3 - Somewhat Important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Metro" id="Metro_4Moderatelyimportant"
              value="4Moderatelyimportant">
            <label class="form-check-label" for="Metro_4Moderatelyimportant">
              4 - Moderately important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Metro" id="Metro_5veryimportant"
              value="5VeryImportant">
            <label class="form-check-label" for="Metro_5veryimportant">
              5 - Very Important
            </label>
          </div>
        </div>
      </div>

      <!--------- Q10 - How important is having  a quality school near your home? ------>

      <div class="row">
        <div class="col-md-12">
          <p> How important is it there is a quality School near your home  ? </p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="School_quality" id="School_1Notatall"
              value="1Notatall">
            <label class="form-check-label" for="School_1Notatall">
              1 - Not at all
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="School_quality" id="School_2Slightlyimportant"
              value="2Slightlyimportant">
            <label class="form-check-label" for="School_2Slightlyimportant">
              2 - Slightly important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="School_quality" id="School_3somewhatimportant"
              value="3somewhatimportant" checked>
            <label class="form-check-label" for="School_3somewhatimportant">
              3 - Somewhat Important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="School_quality" id="School_4Moderatelyimportant"
              value="4Moderatelyimportant">
            <label class="form-check-label" for="School_4Moderatelyimportant">
              4 - Moderately important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="School_quality" id="School_5veryimportant"
              value="5VeryImportant">
            <label class="form-check-label" for="School_5veryimportant">
              5 - Very Important
            </label>
          </div>
        </div>
      </div>

<!--------- Q11 - How important is having a local community center near your home? ------>

      <div class="row">
        <div class="col-md-12">
          <p> How important is having a local community center near your home? </p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="CommunityCenter" id="CommunityCenters_1Notatall"
              value="1Notatall">
            <label class="form-check-label" for="CommunityCenters_1Notatall">
              1 - Not at all
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="CommunityCenter" id="CommunityCenters_2Slightlyimportant"
              value="2Slightlyimportant">
            <label class="form-check-label" for="CommunityCenters_2Slightlyimportant">
              2 - Slightly important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="CommunityCenter" id="CommunityCenters_3somewhatimportant"
              value="3somewhatimportant" checked>
            <label class="form-check-label" for="CommunityCenters_3somewhatimportant">
              3 - Somewhat Important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="CommunityCenter" id="CommunityCenters_4Moderatelyimportant"
              value="4Moderatelyimportant">
            <label class="form-check-label" for="CommunityCenters_4Moderatelyimportant">
              4 - Moderately important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="CommunityCenter" id="CommunityCenters_5veryimportant"
              value="5VeryImportant">
            <label class="form-check-label" for="CommunityCenters_5veryimportant">
              5 - Very Important
            </label>
          </div>
        </div>
      </div>

        <!--------- Q14 How important is it there is a quality Library near your home ?  ------>

      <div class="row">
        <div class="col-md-12">
          <p> How important is it there is a quality Library near your home ?  </p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Library" id="Library_1Notatall"
              value="1Notatall">
            <label class="form-check-label" for="Library_1Notatall">
              1 - Not at all
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Library" id="Library_2Slightlyimportant"
              value="2Slightlyimportant">
            <label class="form-check-label" for="Library_2Slightlyimportant">
              2 - Slightly important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Library" id="Library_3somewhatimportant"
              value="3somewhatimportant" checked>
            <label class="form-check-label" for="Library_3somewhatimportant">
              3 - Somewhat Important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Library" id="Library_4Moderatelyimportant"
              value="4Moderatelyimportant">
            <label class="form-check-label" for="Library_4Moderatelyimportant">
              4 - Moderately important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Library" id="Library_5veryimportant"
              value="5VeryImportant">
            <label class="form-check-label" for="Library_5veryimportant">
              5 - Very Important
            </label>
          </div>
        </div>
      </div>

        <!--------- Q13 - For your current lifestyle, please rate the importance of having a high quality restaurant
      scene in your neighborhood ?------>

      <div class="row">
        <div class="col-md-12">
          <p> For your current lifestyle, please rate the importance of having a high quality restaurant scene in
            your neighborhood? </p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Restaurants" id="Restaurants_1Notatall"
              value="1Notatall">
            <label class="form-check-label" for="Restaurants_1Notatall">
              1 - Not at all
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Restaurants" id="Restaurants_2Slightlyimportant"
              value="2Slightlyimportant">
            <label class="form-check-label" for="Restaurants_2Slightlyimportant">
              2 - Slightly important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Restaurants" id="Restaurants_3somewhatimportant"
              value="3somewhatimportant" checked>
            <label class="form-check-label" for="Restaurants_3somewhatimportant">
              3 - Somewhat Important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Restaurants" id="Restaurants_4Moderatelyimportant"
              value="4Moderatelyimportant">
            <label class="form-check-label" for="Restaurants_4Moderatelyimportant">
              4 - Moderately important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Restaurants" id="Restaurants_5veryimportant"
             value="5VeryImportant">
            <label class="form-check-label" for="Restaurants_5veryimportant">
              5 - Very Important
            </label>
          </div>
        </div>
      </div>

       <!--------- Q14 -  -  For your current lifestyle, please rate the importance of having a thriving
      nightlife scene in your neighborhood ?  ------>

      <div class="row">
        <div class="col-md-12">
          <p> For your current lifestyle, please rate the importance of having a thriving nightlife
            scene in your neighborhood.  </p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Bars" id="Bars_1Notatall"
              value="1Notatall">
            <label class="form-check-label" for="Bars_1Notatall">
              1 - Not at all
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Bars" id="Bars_2Slightlyimportant"
              value="2Slightlyimportant">
            <label class="form-check-label" for="Bars_2Slightlyimportant">
              2 - Slightly important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Bars" id="Bars_3somewhatimportant"
              value="3somewhatimportant" checked>
            <label class="form-check-label" for="Bars_3somewhatimportant">
              3 - Somewhat Important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Bars" id="Bars_4Moderatelyimportant"
              value="4Moderatelyimportant">
            <label class="form-check-label" for="Bars_4Moderatelyimportant">
              4 - Moderately important
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Bars" id="Bars_5veryimportant"
              value="5VeryImportant">
            <label class="form-check-label" for="Bars_5veryimportant">
              5 - Very Important
            </label>
          </div>
        </div>
      </div>

      <!--------- Q15 In regards to the previous 2 questions, what do you consider the size of your neighborhood?  ------>

        <div class="row">
        <div class="col-md-12">
          <p> In regards to the previous 2 questions, what do you consider the size of your neighborhood? </p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="distance" id="closewalkingdistance" value="0.5"`>
            <label class="form-check-label" for="closewalkingdistance">
              Close Walking Distance (0.5 Miles)
            </label>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="distance" id="closebikingordrivingdistance" value="2.5">
            <label class="form-check-label" for="closebikingordrivingdistance">
              Close Biking or Driving Distance (2.5 Miles)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="distance" id="drivingdistance" value="5.0" checked>
            <label class="form-check-label" for="drivingdistance">
              Driving Distance (5.0 Miles)
            </label>
          </div>
        </div>
      </div>

            <div class="row">
        <div class="col-md-12 mt-3 mb-5">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </form>

  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>