<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> DECISION SUPPORT SYSTEM FOR REAL ESTATE</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .img-thumbnail {
            width: 100%;
            height: 275px;
        }

        .col-md-4 {
            margin-bottom: 40px;
        }

        .shadow-custom {
             box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            height: 580px;
        }

        .title {
            font-weight: 500;
        }

        .info-box {
            height: 305px;
            overflow-y: auto;
        }

        .address {
            font-weight: 500;
            font-size: 14px;
        }

        .features {
            font-weight: 300;
        }

        .info-title {
            font-weight: 500;
            font-size: 14px;
        }

        .info-content {
            font-size: 14px;
        }
    </style>
</head>

<body>
<!-- Navigation Bar Option One-->
    <ul class="nav nav-tabs" onload="callSetTimeout()">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active Filters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"> Property Type : {{ Property_Type }} </a>
      </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#"> Price : {{ housePrice }} </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"> Bedrooms : {{ Bedroom_Filter }} </a>
      </li>
     <li class="nav-item">
        <a class="nav-link disabled" href="#"> Bath : {{ Bathroom_Filter }} </a>
      </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#"> Travel Mode : {{ Travel_Mode }} mile radius </a>
      </li>
        <form action="{{ url_for('home_page')}}">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Again</button>
        </form>
    </ul>

    <div class="container">

        <h4 class="text-center my-4"> Take a look at the houses we found for you </h4>
        <!-- Listing/Property Number 1-->
        <div class="row">
            <div class="col-md-4 shadow-custom">
                <div class="row">
                    <div class="col-md-12">
                        <img src= {{Rank1_thumbnail}}
                            class="img-thumbnail" />
                    </div>
                    <div class="col-md-12 info-box">
                        <div class="row address-bar mt-1">
                            <div class="col-md-4 mb-0">
                                <div class="title"> $ {{Rank1_Price}}</div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="features">[{{Rank1_beds}}bds | {{Rank1_baths}}bath | {{Rank1_size}} sqft]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="address">{{Rank1_address}}</div>
                            </div>
                            <div class="col-md-6 info-title"> Agent : {{Rank1_Agent_name}}</div>
                            <div class="col-md-6 info-content"> <a href="tel:{{Rank1_phnumber}}">Click to Call</a> </div>
                        </div>
                        <div class="row mt-3">

                            <div class="col-md-6 info-title"> Nearest School : </div>
                            <div class="col-md-6 info-content"> {{Rank1_School}} </div>
                            <div class="col-md-6 info-title"> Metro Stop: </div>
                            <div class="col-md-6 info-content"> {{Rank1_Metro}} miles away </div>
                            <div class="col-md-6 info-title"> Bus Stop : </div>
                            <div class="col-md-6 info-content"> {{Rank1_BusStop}} miles away </div>
                            <div class="col-md-6 info-title"> CommunityCenter: </div>
                            <div class="col-md-6 info-content"> {{Rank1_CommunityCenter}} </div>
                            <div class="col-md-6 info-title"> Nearest Library: </div>
                            <div class="col-md-6 info-content"> {{Rank1_Library}} </div>
                            <div class="col-md-6 info-title"> Top Rated Restaurants: </div>
                            <div class="col-md-6 info-content"> {{Rank1_Restaurant}} </div>
                            <div class="col-md-6 info-title"> Top Rated Bars: </div>
                            <div class="col-md-6 info-content"> {{Rank1_Bars}} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow-custom">
                <div class="row">
                    <div class="col-md-12">
                        <img src={{Rank2_thumbnail}}
                            class="img-thumbnail" />
                    </div>
                    <div class="col-md-12 info-box">
                        <div class="row address-bar mt-1">
                            <div class="col-md-4 mb-0">
                                <div class="title">${{Rank2_Price}}</div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="features">[{{Rank2_beds}}bds | {{Rank2_baths}}bath | {{Rank2_size}} sqft]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="address">{{Rank2_address}}</div>
                            </div>
                            <div class="col-md-6 info-title"> Agent : {{Rank2_Agent_name}}</div>
                            <div class="col-md-6 info-content"> <a href="tel:{{Rank2_phnumber}}">Click to Call</a> </div>
                        </div>
                        <div class="row mt-3">
                           <div class="col-md-6 info-title"> Nearest School : </div>
                            <div class="col-md-6 info-content"> {{Rank2_School}} </div>
                            <div class="col-md-6 info-title"> Metro Stop: </div>
                            <div class="col-md-6 info-content"> {{Rank2_Metro}} miles away </div>
                            <div class="col-md-6 info-title"> Bus Stop : </div>
                            <div class="col-md-6 info-content"> {{Rank2_BusStop}} miles away </div>
                            <div class="col-md-6 info-title"> CommunityCenter: </div>
                            <div class="col-md-6 info-content"> {{Rank2_CommunityCenter}} </div>
                            <div class="col-md-6 info-title"> Nearest Library: </div>
                            <div class="col-md-6 info-content"> {{Rank2_Library}} </div>
                            <div class="col-md-6 info-title"> Top Rated Restaurants: </div>
                            <div class="col-md-6 info-content"> {{Rank2_Restaurant}} </div>
                            <div class="col-md-6 info-title"> Top Rated Bars: </div>
                            <div class="col-md-6 info-content"> {{Rank2_Bars}} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow-custom">
                <div class="row">
                    <div class="col-md-12">
                        <img src={{Rank3_thumbnail}}
                            class="img-thumbnail" />
                    </div>
                    <div class="col-md-12 info-box">
                        <div class="row address-bar mt-1">
                            <div class="col-md-4 mb-0">
                                <div class="title">${{Rank3_Price}}</div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="features">[{{Rank3_beds}}bds | {{Rank3_baths}}bath | {{Rank3_size}} sqft]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="address">{{Rank3_address}}</div>
                            </div>
                            <div class="col-md-6 info-title"> Agent : {{Rank3_Agent_name}}</div>
                            <div class="col-md-6 info-content"> <a href="tel:{{Rank3_phnumber}}">Click to Call</a> </div>
                        </div>
                        <div class="row mt-3">
                        <div class="col-md-6 info-title"> Nearest School : </div>
                            <div class="col-md-6 info-content"> {{Rank3_School}} </div>
                            <div class="col-md-6 info-title"> Metro Stop: </div>
                            <div class="col-md-6 info-content"> {{Rank3_Metro}} miles away </div>
                            <div class="col-md-6 info-title"> Bus Stop : </div>
                            <div class="col-md-6 info-content"> {{Rank3_BusStop}} miles away </div>
                            <div class="col-md-6 info-title"> CommunityCenter: </div>
                            <div class="col-md-6 info-content"> {{Rank3_CommunityCenter}} </div>
                            <div class="col-md-6 info-title"> Nearest Library: </div>
                            <div class="col-md-6 info-content"> {{Rank3_Library}} </div>
                            <div class="col-md-6 info-title"> Top Rated Restaurants: </div>
                            <div class="col-md-6 info-content"> {{Rank3_Restaurant}} </div>
                            <div class="col-md-6 info-title"> Top Rated Bars: </div>
                            <div class="col-md-6 info-content"> {{Rank3_Bars}} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow-custom">
                <div class="row">
                    <div class="col-md-12">
                        <img src={{Rank4_thumbnail}}
                            class="img-thumbnail" />
                    </div>
                    <div class="col-md-12 info-box">
                        <div class="row address-bar mt-1">
                            <div class="col-md-4 mb-0">
                                <div class="title">${{ Rank4_Price}}</div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="features">[{{Rank4_beds}}bds | {{Rank4_baths}}bath | {{Rank4_size}} sqft]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="address">{{Rank4_address}}</div>
                            </div>
                            <div class="col-md-6 info-title"> Agent : {{Rank4_Agent_name}}</div>
                            <div class="col-md-6 info-content"> <a href="tel:{{Rank4_phnumber}}">Click to Call</a> </div>
                        </div>
                        <div class="row mt-3">
                        <div class="col-md-6 info-title"> Nearest School : </div>
                            <div class="col-md-6 info-content"> {{Rank4_School}} </div>
                            <div class="col-md-6 info-title"> Metro Stop: </div>
                            <div class="col-md-6 info-content"> {{Rank4_Metro}} miles away </div>
                            <div class="col-md-6 info-title"> Bus Stop : </div>
                            <div class="col-md-6 info-content"> {{Rank4_BusStop}} miles away </div>
                            <div class="col-md-6 info-title"> CommunityCenter: </div>
                            <div class="col-md-6 info-content"> {{Rank4_CommunityCenter}} </div>
                            <div class="col-md-6 info-title"> Nearest Library: </div>
                            <div class="col-md-6 info-content"> {{Rank4_Library}} </div>
                            <div class="col-md-6 info-title"> Top Rated Restaurants: </div>
                            <div class="col-md-6 info-content"> {{Rank4_Restaurant}} </div>
                            <div class="col-md-6 info-title"> Top Rated Bars: </div>
                            <div class="col-md-6 info-content"> {{Rank4_Bars}} </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow-custom">
                <div class="row">
                    <div class="col-md-12">
                        <img src={{Rank5_thumbnail}}
                            class="img-thumbnail" />
                    </div>
                    <div class="col-md-12 info-box">
                        <div class="row address-bar mt-1">
                            <div class="col-md-4 mb-0">
                                <div class="title">${{Rank5_Price}}</div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="features">[{{Rank5_beds}}bds | {{Rank5_baths}}bath | {{Rank5_size}} sqft]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="address">{{Rank5_address}}</div>
                            </div>
                            <div class="col-md-6 info-title"> Agent : {{Rank5_Agent_name}}</div>
                            <div class="col-md-6 info-content"> <a href="tel:{{Rank5_phnumber}}">Click to Call</a> </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 info-title"> Nearest School : </div>
                            <div class="col-md-6 info-content"> {{Rank5_School}} </div>
                            <div class="col-md-6 info-title"> Metro Stop: </div>
                            <div class="col-md-6 info-content"> {{Rank5_Metro}} miles away </div>
                            <div class="col-md-6 info-title"> Bus Stop : </div>
                            <div class="col-md-6 info-content"> {{Rank5_BusStop}} miles away </div>
                            <div class="col-md-6 info-title"> CommunityCenter: </div>
                            <div class="col-md-6 info-content"> {{Rank5_CommunityCenter}} </div>
                            <div class="col-md-6 info-title"> Nearest Library: </div>
                            <div class="col-md-6 info-content"> {{Rank5_Library}} </div>
                            <div class="col-md-6 info-title"> Top Rated Restaurants: </div>
                            <div class="col-md-6 info-content"> {{Rank5_Restaurant}} </div>
                            <div class="col-md-6 info-title"> Top Rated Bars: </div>
                            <div class="col-md-6 info-content"> {{Rank5_Bars}} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 shadow-custom">
                <div class="row">
                    <div class="col-md-12">
                        <img src={{Rank6_thumbnail}}
                            class="img-thumbnail" />
                    </div>
                    <div class="col-md-12 info-box">
                        <div class="row address-bar mt-1">
                            <div class="col-md-4 mb-0">
                                <div class="title">${{Rank6_Price}}</div>
                            </div>
                            <div class="col-md-8 text-right">
                                <div class="features">[{{Rank6_beds}}bds | {{Rank6_baths}}bath | {{Rank6_size}} sqft]</div>
                            </div>
                            <div class="col-md-12">
                                <div class="address">{{Rank6_address}}</div>
                            </div>
                            <div class="col-md-6 info-title"> Agent : {{Rank6_Agent_name}}</div>
                            <div class="col-md-6 info-content"> <a href="tel:{{Rank6_phnumber}}">Click to Call</a> </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 info-title"> Nearest School : </div>
                            <div class="col-md-6 info-content"> {{Rank6_School}} </div>
                            <div class="col-md-6 info-title"> Metro Stop: </div>
                            <div class="col-md-6 info-content"> {{Rank6_Metro}} miles away </div>
                            <div class="col-md-6 info-title"> Bus Stop : </div>
                            <div class="col-md-6 info-content"> {{Rank6_BusStop}} miles away </div>
                            <div class="col-md-6 info-title"> CommunityCenter: </div>
                            <div class="col-md-6 info-content"> {{Rank6_CommunityCenter}} </div>
                            <div class="col-md-6 info-title"> Nearest Library: </div>
                            <div class="col-md-6 info-content"> {{Rank6_Library}} </div>
                            <div class="col-md-6 info-title"> Top Rated Restaurants: </div>
                            <div class="col-md-6 info-content"> {{Rank6_Restaurant}} </div>
                            <div class="col-md-6 info-title"> Top Rated Bars: </div>
                            <div class="col-md-6 info-content"> {{Rank6_Bars}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>


